cms.matthiasramahi.de {
  encode zstd gzip
  reverse_proxy 127.0.0.1:3300

  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
  }
}
