NODE_ENV=production

# Public site
ASTRO_PUBLIC_SITE_URL=https://matthiasramahi.de
ASTRO_CONTENT_SOURCE=tina
ASTRO_PUBLIC_MEDIA_BASE_URL=https://cms.matthiasramahi.de

# Tina self-hosted CMS
TINA_BIND_ADDRESS=127.0.0.1
TINA_WEB_PORT=4334
TINA_GRAPHQL_PORT=4001
TINA_SITE_PORT=4335
TINA_BRANCH=main
TINA_ALLOWED_HOSTS=cms.matthiasramahi.de
TINA_CONTENT_API_URL=http://[::1]:4001/graphql

# Tina publish button -> GitHub -> Vercel
TINA_PUBLISH_ENABLED=1
TINA_PUBLISH_COMMAND=deploy/publish-tina-to-git.sh
TINA_PUBLISH_CWD=/app
TINA_PUBLISH_SOURCE_DIR=/app
TINA_PUBLISH_UID=1000
TINA_PUBLISH_GID=1000
TINA_GIT_WORKTREE=/tina-git-worktree
TINA_GIT_REMOTE_URL=git@github.com:lia-xim/MatthiasRamahiDe.git
TINA_GIT_BRANCH=main
TINA_GIT_PUSH=1
TINA_GIT_COMMIT_NAME=Tina Publisher
TINA_GIT_COMMIT_EMAIL=tina-publisher@matthiasramahi.de
TINA_GIT_SSH_KEY=/home/node/.ssh/tina_publish_github_ed25519

# Contact form / Resend
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxx
CONTACT_FROM_EMAIL=Matthias Ramahi <anfrage@matthiasramahi.de>
CONTACT_TO_EMAIL=info@matthiasramahi.de
CONTACT_ALERT_EMAIL=info@matthiasramahi.de
CONTACT_QUEUE_DIR=/tmp/matthias-contact-queue
CONTACT_RETRY_SECRET=change-me-long-random-contact-retry-secret
CONTACT_IP_HASH_SALT=change-me-long-random-ip-hash-salt
CONTACT_ALLOWED_ORIGINS=https://matthiasramahi.de,https://www.matthiasramahi.de
